@model IEnumerable<MyShop.Core.Models.ProductCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (@item.Image == null)
            {
                <img class="img-thumbnail" style="height:50px" src="~/Content/ProductImages/default/imageNotFound.png" />
            }
            else
            {
                <img class="img-thumbnail" style="height:50px" src="~/Content/ProductImages/@item.Image" />
            }
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
