@model MyShop.Core.ViewModels.PaymentInfoViewModel

@{
    ViewBag.Title = "PaymentInfo";
}

<h2>PaymentInfo</h2>


@using (Html.BeginForm("PaymentInfo", "Basket", FormMethod.Post,new { id = "paymentForm" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PaymentInfo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OrderID)
        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryMonth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryMonth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpiryMonth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpiryYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CVV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CardType, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery.creditCardValidator.js"></script>
<script>
    $('#Number').on('keyup', function () {
        var cardType = "Visa";
        if ($('#Number').val() == '4111 1111 1111 1111')
        {
            cardType = "Visa";
        } else if($('#Number').val() == '3782 8224 6310 005'){
            cardType = "Discover";
     }


        $("#CardType").val(cardType);
    });

    $('#Number').validateCreditCard(function (result) {
        var cardType = (result.card_type == null) ? '' : result.card_type.name;
        if (cardType == 'Visa') {
            var backPosition = result.valid ? '2px -163px, 260px -87px' : '2px -163px, 260px -61px';
        } else if (cardType == 'visa_electron') {
            var backPosition = result.valid ? '2px -205px, 260px -87px' : '2px -163px, 260px -61px';
        } else if (cardType == 'MasterCard') {
            var backPosition = result.valid ? '2px -247px, 260px -87px' : '2px -247px, 260px -61px';
        } else if (cardType == 'Maestro') {
            var backPosition = result.valid ? '2px -289px, 260px -87px' : '2px -289px, 260px -61px';
        } else if (cardType == 'Discover') {
            var backPosition = result.valid ? '2px -331px, 260px -87px' : '2px -331px, 260px -61px';
        } else if (cardType == 'Amex') {
            var backPosition = result.valid ? '2px -121px, 260px -87px' : '2px -121px, 260px -61px';
        } else {
            var backPosition = result.valid ? '2px -121px, 260px -87px' : '2px -121px, 260px -61px';
        }
        $('#Number').css("background-position", backPosition);
        if (result.valid) {
            $("#card_type").val(cardType);
            $("#Number").removeClass('required');
            cardValid = 1;
        } else {
            $("#card_type").val('');
            $("#Number").addClass('required');
            cardValid = 0;
        }
    });
    function cardFormValidate() {
        var cardValid = 0;
        //card number validation

        
        

        //card details validation
        var cardName = $("#Name").val();
        var expMonth = $("#ExpiryMonth").val();
        var expYear = $("#ExpiryYear").val();
        var CVV = $("#CVV").val();
        var regName = /^[a-z ,.'-]+$/i;
        var regMonth = /^01|02|03|04|05|06|07|08|09|10|11|12$/;
        var regYear = /^2018|2019|2020|2021|2022|2023|2024|2025|2026|2027|2028|2029|2030|2031$/;
        var regCVV = /^[0-9]{3,3}$/;
        if (cardValid == 0) {
            $("#card_number").addClass('required');
            $("#card_number").focus();
            return false;
        } else if (!regMonth.test(expMonth)) {
            $("#card_number").removeClass('required');
            $("#ExpiryMonth").addClass('required');
            $("#ExpiryMonth").focus();
            return false;
        } else if (!regYear.test(expYear)) {
            $("#card_number").removeClass('required');
            $("#ExpiryMonth").removeClass('required');
            $("#ExpiryYear").addClass('required');
            $("#ExpiryYear").focus();
            return false;
        } else if (!regCVV.test(CVV)) {
            $("#card_number").removeClass('required');
            $("#ExpiryMonth").removeClass('required');
            $("#ExpiryYear").removeClass('required');
            $("#CVV").addClass('required');
            $("#CVV").focus();
            return false;
        } else if (!regName.test(cardName)) {
            $("#card_number").removeClass('required');
            $("#ExpiryMonth").removeClass('required');
            $("#ExpiryYear").removeClass('required');
            $("#CVV").removeClass('required');
            $("#Name").addClass('required');
            $("#Name").focus();
            return false;
        } else {
            $("#card_number").removeClass('required');
            $("#ExpiryMonth").removeClass('required');
            $("#ExpiryYear").removeClass('required');
            $("#CVV").removeClass('required');
            $("#Name").removeClass('required');
            return true;
        }
    }
    $('#Number').mask('0000 0000 0000 0000');
    $('#ExpiryMonth').mask('00');
    $('#ExpiryYear').mask('0000');
    $('#CVV').mask('000');
    
    $('#paymentForm input[type=text]').on('keyup', function () {
        cardFormValidate();
    });
</script>